.cproject
.project
.settings/
*.lo
src/.deps/
src/.libs/
src/Makefile
src/libortp.la
src/tests/.deps/
src/tests/Makefile
src/tests/win_receiver/Makefile
src/tests/win_sender/Makefile
Makefile
autom4te.cache/
build/Makefile
build/win32native/Makefile
build/wince/Makefile
build/winmob/Makefile
config.log
config.status
include/Makefile
include/ortp/Makefile
libtool
m4/Makefile
ortp-config.h
ortp.defs
ortp.pc
stamp-h1
